# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/texxturaPersonaje/build/
/texxturaPersonaje/dist/
/testuraPersonaje/build/
/testuraPersonaje/dist/
/texturaPersonaje/build/
/texturaPersonaje/dist/